/* =========================
   Main
========================= */
main {
    display: flex;
    width: 980px;
    min-height: 650px;
    margin-top: 10px;
}

/* =========================
   Aside
========================= */
main > aside {
    position: relative;
    width: 176px;
    min-height: 650px;
    padding-top: 81px;
    background: url("/farmstory/images/sub_aside_bg_line.png") no-repeat right center;
    box-sizing: border-box;
}

main > aside > img {
    position: absolute;
    top: 16px;
    left: 16px;
}

main > aside ul {
    width: 175px;
    min-height: 233px;
    padding-top: 26px;
    padding-bottom: 26px;
    box-sizing: border-box;
    background: url("/farmstory/images/sub_aside_bg_lnb.png") no-repeat;
}

main > aside li {
    width: 175px;
    height: 29px;
    margin-bottom: 6px;
}

main > aside a {
    display: block;
    width: 100%;
    height: 100%;
}

main > aside a img {
    display: block;
}

/* =========================
   Article
========================= */
main > article {
    width: 802px;
}

/* 제목 영역 */
main > article > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 762px;
    height: 72px;
    border-bottom: 1px solid #c2c2c2;
    box-sizing: border-box;
    margin-left: 40px;
}

main > article > div:first-child > img {
    margin-bottom: 4px;
}

/* 현재 위치 */
main > article > div:first-child span {
    font-size: 11px;
    color: #8c8c8c;
}

main > article > div:first-child span span {
    color: #91ba15;
    font-weight: bold;
}

/* 본문 시작 위치 */
main > article > img {
    display: block;
    margin-top: 40px;
    margin-left: 40px;
}

/* 본문 텍스트 */
main > article p {
    margin-top: 14px;
    margin-left: 40px;
    font-size: 12px;
    line-height: 20px;
    color: #666;
}

/* 초록색 제목 */
main > article p:nth-of-type(3),
main > article p:nth-of-type(5) {
    margin-top: 24px;
    color: #91ba15;
    font-weight: bold;
}