main {
	height: 758px;
}

/* 본문 내용 */
.main-content > section > table {
	width: 762px;
	border-top: 1px solid #111111;
	border-bottom: 1px solid #111111;
	border-spacing: 0;
}

th {
	height: 38px;
	background-color: #E5ECEF;
	
}

th:nth-of-type(1) {
	width: 100px;
}
th:nth-of-type(2) {
	width: 76.19px;
}
th:nth-of-type(3) {
	width: 311.5px;
}
th:nth-of-type(4) {
	width: 91.44px;
}
th:nth-of-type(5) {
	width: 91.44px;
}
th:nth-of-type(6) {
	width: 91.44px;
}

td {
	height: 105px;
	text-align: center;
}

td:nth-of-type(2)> a {
	color: #777777;
}
td:nth-of-type(3) {
	text-align: left;
}

td:nth-of-type(6)>p:nth-of-type(1) {
	font-weight: 700;
}
td:nth-of-type(6)>p:nth-of-type(2) {
	text-decoration: line-through;
}

th, td {
	border-bottom: 1px solid #D1DEE2;
}

/* 본문 아래 페이지 선택 */
.main-content > section > a:nth-of-type(2) {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}