/* =========================
   위치 정보 영역
========================= */

.location-section {
    margin-top: 40px;
    margin-left: 40px;
}

/* 일반 텍스트 */
.location-section p {
    font-size: 12px;
    line-height: 18px;
    color: #666;
}

/* 초록색 제목 */
.location-section .green-title {
    margin-top: 14px;
    margin-bottom: 8px;
    color: #91BA15;
    font-weight: bold;
}


/* 카카오맵 영역 */
#map {
    width: 720px;
    height: 400px;
    margin-top: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}