/* 메인 내용 - 내용 */
    .main-content {
        position: relative;
        min-height: 743px;
    }


	/* 메인 테이블 */
	#cartTable {
		margin-top: 10px;
		width: 762px;
		border-top: 1px solid #111111;
		border-bottom: 1px solid #111111;
		border-spacing: 0;
	}
	
	#cartTable > tbody > tr > th {
		height: 38px;
		border-bottom: 1px solid #EEEEEE;
		background-color: #E5ECEF;
	}
	
	#cartTable > tbody > tr > th:nth-of-type(1) {
		width: 76.19px;
	}
	#cartTable > tbody > tr > th:nth-of-type(2) {
		width: 80px;
	}
	#cartTable > tbody > tr > th:nth-of-type(3) {
		width: 76.19px;
	}
	#cartTable > tbody > tr > th:nth-of-type(4) {
		width: 148.69px;
	}
	#cartTable > tbody > tr > th:nth-of-type(5) {
		width: 76.19px;
	}
	#cartTable > tbody > tr > th:nth-of-type(6) {
		width: 76.19px;
	}
	#cartTable > tbody > tr > th:nth-of-type(7) {
		width: 76.19px;
	}
	#cartTable > tbody > tr > th:nth-of-type(8) {
		width: 76.19px;
	}
	#cartTable > tbody > tr > td {
		height: 85px;
		border-bottom: 1px solid #EEEEEE;
		text-align: center;
	}


    .main-content > section > form > div:nth-of-type(1) {
    	display: inline-block;
    	margin-top: 10px;
        width: 60px;
        height: 29px;
        background-color: #960D1A;
        color: #FFFFFF;
        text-align: center;
        line-height: 29px;
    }

    .main-content > section > form > div:nth-of-type(2) {
    	margin-top: 10px;
    	margin-bottom: 10px;
    	float: right;
        width: 304.8px;
        height: 262px;
        border: 1px solid #D7D7D7;
    }

    .main-content > section > form > div:nth-of-type(2) > table {
    	margin: 7px;
        width: 290.8px;
        height: 201px;
        border-top: 1px solid #111111;
        border-bottom: 1px solid #111111;
        border-collapse: collapse;
    }

    .main-content > section > form > div:nth-of-type(2) > table > tbody > tr > td:nth-of-type(1) {
        width: 65%;
        padding-left: 20px;

    }

    .main-content > section > form > div:nth-of-type(2) > table > tbody > tr > td:nth-of-type(2) {
        width: 35%;
    }

    .main-content > section > form > div:nth-of-type(2) > table > tbody > tr:nth-of-type(7) > td:nth-of-type(2) {
        color: #C20A0A;
        font-size: 700;
    }

    .main-content > section > form > div:nth-of-type(2) > button {
    	margin-left: 7px;
        width:290.8px;
        height: 37px;
        background-color: #960D1A;
        color: #FFFFFF;
        text-align: center;
        line-height: 37px;
        border: 0;
    }
    
    #eachTotalPrice {
    	font-weight: 700;
    }

