/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
}
ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}
input, textarea {outline: none;}

#container {
    width: 980px;
    height: auto;
    margin: 0 auto;
}

/* 헤더 */
header {
    position: relative;
    width: 100%;
    height: 142px;
    background: url('../../images/head_top_line.png') no-repeat;            
    margin-bottom: 10px;
}

header > .logo {
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -95px;
}

header > p {
    float: right;
    margin-top: 16px;
}
header > p > a {}
header > .text {
    float: right;
    clear: both;
    margin-top: 10px;
}
header > .gnb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}
header > .gnb > li {  
    float: left;      
    width: 20%;
    height: 100%;
    background-image: url('../../images/head_menu_line.png');
    background-repeat: no-repeat;
    background-position: 0 -7px;
}
header > .gnb > li > a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    background-position: 0 8px;
    background-repeat: no-repeat;
}
header > .gnb > li:nth-child(1) > a { background-image: url('../../images/head_menu1.png'); }
header > .gnb > li:nth-child(2) > a { background-image: url('../../images/head_menu2.png'); }
header > .gnb > li:nth-child(3) > a { background-image: url('../../images/head_menu3.png'); }
header > .gnb > li:nth-child(4) > a { background-image: url('../../images/head_menu4.png'); }
header > .gnb > li:nth-child(5) > a { background-image: url('../../images/head_menu5.png'); }
header > .gnb > li:nth-child(1) > a:hover { background-image: url('../../images/head_menu1_ov.png'); }
header > .gnb > li:nth-child(2) > a:hover { background-image: url('../../images/head_menu2_ov.png'); }
header > .gnb > li:nth-child(3) > a:hover { background-image: url('../../images/head_menu3_ov.png'); }
header > .gnb > li:nth-child(4) > a:hover { background-image: url('../../images/head_menu4_ov.png'); }
header > .gnb > li:nth-child(5) > a:hover { background-image: url('../../images/head_menu5_ov.png'); }

/* 메인 */

main {
    width: 100%;
    height: 500px;
}

/* 로그인 전체 박스 */
.login {
    width: 359px;
    margin: 80px auto 0;
    border: 1px solid #ddd;
}

.login-info {
    height: 118px;
    padding: 20px;
    box-sizing: border-box;

    border-top: 1px solid #ddd;
    background: #f5f5f5;

    position: relative;
}

/* 로그인 입력 영역 */
.login-box {
    height: 120px;
    padding: 52PX 40px 0 40px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* input 묶음 */
.input-box {
    width: 180px;
    display: flex;
    flex-direction: column;
}

/* input 한 줄 */
.input-box div {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

/* 아이콘 */
.input-box img {
    width: 14px;
    height: auto;
    margin-right: 6px;
}

/* 입력창 */
.input-box input {
    width: 170px;
    height: 24px;
    padding-left: 10px;
    border: 1px solid #ddd;
    background: #f7f7f7;
    font-size: 12px;
}

.input-box input {
    width: 170px;
    height: 24px;

    padding-left: 10px;

    border: 1px solid #ddd;
    background: #f7f7f7;

    font-size: 12px;
}

/* 로그인 버튼 */
.login-box button {
    width: 62px;
    height: 62px;

    margin-left: 5px;

    border: 1px solid #ccc;
    background: #fff;

    font-size: 12px;

    cursor: pointer;
}


/* 아래 안내 영역 */
.login-info {
    height: 118px;

    padding: 20px;
    box-sizing: border-box;

    border-top: 1px solid #ddd;
    background: #f5f5f5;

    position: relative;  
}

/* 안내 제목 */
.login-info h4 {
    margin-bottom: 14px;

    font-size: 12px;
    font-weight: bold;
    color: #333;
}

/* 안내 문구 */
.login-info p {
    margin-bottom: 14px;

    font-size: 12px;
    color: #555;

    line-height: 18px;
}

/* 링크 영역 */
.login-link {
    position: absolute;

    right: 20px;
    bottom: 18px;
}

/* 링크 글씨 */
.login-link a {
    font-size: 11px;
    color: #666;
}

/* 푸터 */
footer {
    position: relative;
    width: 100%;
    height: 120px;
    border-top: 1px solid #D1CAB2;
    box-sizing: border-box;
}

footer > img {
    position: absolute;
    width: 174px;
    height: 64px;
    top: 1px;
    left: 0px;
}

footer > div {
    position: absolute;
    width: 709.48px;
    height: 71px;
    top: 27px;
    left: 254.52px;
}

footer > div > p:nth-of-type(1) {
    font-family: Inter;
    font-size: 10.31px;
    line-height: 18px;
    letter-spacing: 0;
    color: #585858;
}

footer > div > p:nth-of-type(2) {
    font-family: Inter;
    font-size: 11.06px;
    line-height: 100%;
    color: #888888;
}

footer > div > p:nth-of-type(3) {
    position: absolute;
    top: 54px;
    left: 620px;
    font-family: Inter;
    font-size: 10.60px;
    line-height: 100%;
    letter-spacing: 0;
    color: #888888;
}
